{
    "admin" : {
        "default" : {
            "userId" : "admin",
            "password" : "admin"
        },
        "fineGrained" : {
            "clusterNode1" : {
                
            },
            "clusterNode2" : {
                
            }
        }
    }
}